extends ../layout

block content		
	section
		.container
			.row
				h1 AddAbout 
				form.form-horizontal.addAboutForm(method="post", action="/about/add", enctype="multipart/form-data") 
					.form-group
						label.col-sm-3.control-label(for="inputTitle") Title
						.col-sm-9
							input#inputTitle.form-control(type="text", name="about[title]", value=about.title)
					.form-group
						label.col-sm-3.control-label(for="inputContent") Content
						.col-sm-9
							textarea#inputContent.form-control(rows="4" name="about[content]", value=about.content)
					.form-group
						label.col-sm-3.control-label(for="inputUpload") Pic Upload
						.col-sm-9
							input#inputUpload.form-control(type="file", name="picUpload")
					.form-group
						.col-sm-offset-2.col-sm-10
							button.btn.btn-defalut(type="submit") submit
