extends ../layout

block content		
	section
		.container
			.row
				h1 AddFun 
				form.form-horizontal.addFunForm(method="post", action="/fun/add", enctype="multipart/form-data") 
					.form-group
						label.col-sm-3.control-label(for="inputTitle") Title
						.col-sm-9
							input#inputTitle.form-control(type="text", name="fun[title]", value=fun.title)
					.form-group
						label.col-sm-3.control-label(for="inputAuthor") Author
						.col-sm-9
							input#inputAuthor.form-control(type="text", name="fun[author]", value=fun.author)
					.form-group
						label.col-sm-3.control-label(for="inputContent") Content
						.col-sm-9
							textarea#inputContent.form-control(rows="4" name="fun[content]", value=fun.content)
					.form-group
						label.col-sm-3.control-label(for="inputUpload") Pic Upload
						.col-sm-9
							input#inputUpload.form-control(type="file", name="picUpload")
					.form-group
						.col-sm-offset-2.col-sm-10
							button.btn.btn-defalut(type="submit") submit
