extends ../layout

block content	
	section.bg-primary#content
		//-h5#homeHeading &nbsp;点击上方蓝字关注我哟～
		.container
			.row
				.col-lg-8.col-lg-offset-2.text-center
					.fun-body
						h2.section-heading #{fun.title}
						//-hr.light
						p.text-faded.text-left #{fun.content}
						img(src="#{fun.picture}", width="100%")
					//-hr
					.fun-foot
						//-a(href="/images/DonateMe.jpeg").page-scroll.btn.btn-primary.btn-xl.sr-button#donate Donate ME!

	