extends ../layout

block content	
	section.bg-primary#content
		//-h5#homeHeading &nbsp;点击上方蓝字关注我哟～
		.container
			.row
				.col-lg-8.col-lg-offset-2.text-center
					.fun-body
						h2.section-heading #{tech.title}
						!=tech.content
					.fun-foot
						a(href="#services").page-scroll.btn.btn-primary.btn-xl.sr-button#donate Donate ME!

	