extends ../layout

block content	
	section.bg-primary#content
		//-h5#homeHeading &nbsp;点击上方蓝字关注我哟～
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.fun-body
						h2.section-heading.text-center #{tech.title}
						!=tech.content
					.fun-foot
						

	