nav#mainNav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1") Menu
                span.sr-only Toggle navigation
                i.fa.fa-bars
            a.navbar-brand.page-scroll(href="#page-top") Doubi Jin
        .collapse.navbar-collapse#bs-example-navbar-collapse-1
            ul.nav.navbar-nav.navbar-right
                li
                    a.page-scroll(href="#content") Content
                li
                    a.page-scroll(href="#donate") Donate
                li
                    a.page-scroll(href="#contact") Contact                    
                
            
           
    