doctype 
html
	head
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		//-link(rel='stylesheet', href='/stylesheets/style.css')
		link(href="/libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
		link(href="/libs/font-awesome/css/font-awesome.min.css", rel="stylesheet")
		link(href="/css/creative.css", rel="stylesheet")
		link(href="/css/jin.css", rel="stylesheet")
		
	body.grey
		include ./include/header
		block content
		include ./include/footer

	script(src="/libs/jquery/dist/jquery.min.js")
	script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
	script(src="/javascripts/jin.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js")
	script(src="/libs/scrollreveal/dist/scrollreveal.min.js")

